<div class="containerCategory">
    <div class="container-fluid normal_width">
        <div class="C_T_A_B">
            <div class="findType">
                <h2>Find Your Car </h2>
                <div class="buttonmgroup">
               
                    <button>Select Wagon Type<img src="./assets/Site_Images/category_1/arrowButtonCa.svg" alt=""></button>
                    <button>Select Brand<img src="./assets/Site_Images/category_1/arrowButtonCa.svg" alt=""></button>
                </div>
                <div class="buttonmgroup">
                    <button>Select Model<img src="./assets/Site_Images/category_1/arrowButtonCa.svg" alt=""></button>
                    <button>Select Year<img src="./assets/Site_Images/category_1/arrowButtonCa.svg" alt=""></button>
                </div>
                <div class="buttonmgroup">
                    <button>Select Mileage<img src="./assets/Site_Images/category_1/arrowButtonCa.svg" alt=""></button>
                    <button>Select City<img src="./assets/Site_Images/category_1/arrowButtonCa.svg" alt=""></button>
                </div>
                <div class="buttonmgroup">
                    <button>Select Transmissions<img src="./assets/Site_Images/category_1/arrowButtonCa.svg" alt=""></button>
                    <button>Select Price<img src="./assets/Site_Images/category_1/arrowButtonCa.svg" alt=""></button>
                </div>
                <div class="searchButton">
                    <button> <img src="./assets/Site_Images/category_1/search.svg" alt=""> Search</button>
                </div>
            </div>
            <div class="arrowToCategory">
                <img src="./assets/Site_Images/category_1/arrowcategory.svg" alt="">
            </div>
            <div class="chooesType d-none">
                <h2>Wagon Type </h2>
                <div class="containerTyps">
                    <div class="typeCars">
                        <button>
                            <img src="./assets/Site_Images/category_1/Micro_car.svg" alt="">
                            <p>micro</p>
                        </button>
                        <button>
                            <img src="./assets/Site_Images/category_1/Sedan_car.svg" alt="">
                            <p>micro</p>
                        </button>
                    </div>
                    <div class="typeCars">
                        <button>
                            <img src="./assets/Site_Images/category_1/Cuv_car.svg" alt="">
                            <p>micro</p>
                        </button>
                        <button>
                            <img src="./assets/Site_Images/category_1/Suv_car.svg" alt="">
                            <p>micro</p>
                        </button>
                    </div>
                    <div class="typeCars">
                        <button>
                            <img src="./assets/Site_Images/category_1/Hatchback_car.svg" alt="">
                            <p>micro</p>
                        </button>
                        <button>
                            <img src="./assets/Site_Images/category_1/Roadster_car.svg" alt="">
                            <p>micro</p>
                        </button>
                    </div>
                    <div class="typeCars">
                        <button>
                            <img src="./assets/Site_Images/category_1/Pickup_car.svg" alt="">
                            <p>micro</p>
                        </button>
                        <button>
                            <img src="./assets/Site_Images/category_1/coupe_car.svg" alt="">
                            <p>micro</p>
                        </button>
                    </div>
                    <div class="typeCars">
                        <button>
                            <img src="./assets/Site_Images/category_1/Micro_car.svg" alt="">
                            <p>micro</p>
                        </button>
                        <button>
                            <img src="./assets/Site_Images/category_1/Micro_car.svg" alt="">
                            <p>micro</p>
                        </button>
                    </div>
                    <div class="typeCars">
                        <button>
                            <img src="./assets/Site_Images/category_1/Micro_car.svg" alt="">
                            <p>micro</p>
                        </button>
                        <button>
                            <img src="./assets/Site_Images/category_1/Micro_car.svg" alt="">
                            <p>micro</p>
                        </button>
                    </div>
                </div>

            </div>
            <div class="chooesType d-none">
                <h2>Brand Type </h2>
                <div class="input_group">
                    <input type="text" placeholder="Type the Brand ">
                </div>
                <div class="containerTyps">
                    <div class="typeCars">
                        <button>
                            <img src="./assets/Site_Images/category_1/BMW_icon.svg" alt="">
                            <p>BMW</p>
                        </button>
                        <button>
                            <img src="./assets/Site_Images/category_1/Nissan_icon.svg" alt="">
                            <p>Nissan</p>
                        </button>
                    </div>
                    <div class="typeCars">
                        <button>
                            <img src="./assets/Site_Images/category_1/Toyota_icon.svg" alt="">
                            <p>Toyota</p>
                        </button>
                        <button>
                            <img src="./assets/Site_Images/category_1/Honda_icon.svg" alt="">
                            <p>Honda</p>
                        </button>
                    </div>
                    <div class="typeCars">
                        <button>
                            <img src="./assets/Site_Images/category_1/Lancer_icon.svg" alt="">
                            <p>Lancer</p>
                        </button>
                        <button>
                            <img src="./assets/Site_Images/category_1/Ford_icon.svg" alt="">
                            <p>Ford</p>
                        </button>
                    </div>
                    <div class="typeCars">
                        <button>
                            <img src="./assets/Site_Images/category_1/Mazda_icon.svg" alt="">
                            <p>Mazda</p>
                        </button>
                        <button>
                            <img src="./assets/Site_Images/category_1/kia_icon.svg" alt="">
                            <p>Kia</p>
                        </button>
                    </div>
                </div>

            </div>
            <div class="chooesType d-none">
                <h2>Car Year </h2>
                <div class="input_group">
                    <input type="text" placeholder="Type the year">
                </div>
                <div class="containerTyps">
                    <div class="typeCars">
                        <button>
                           <p>1995</p>
                        </button>
                        <button>
                           <p>1995</p>
                        </button>
                    </div>
                    <div class="typeCars">
                        <button>
                           <p>1995</p>
                        </button>
                        <button>
                           <p>1995</p>
                        </button>
                    </div>
                    <div class="typeCars">
                        <button>
                           <p>1995</p>
                        </button>
                        <button>
                           <p>1995</p>
                        </button>
                    </div>
                    <div class="typeCars">
                        <button>
                           <p>1995</p>
                        </button>
                        <button>
                           <p>1995</p>
                        </button>
                    </div>
                </div>

            </div>
            <div class="chooesType d-none">
                <h2>Mileage</h2>
                <div class="input_group">
                    <label for="">Min KMs </label>
                    <input type="text" placeholder="Type the Min KMs ">
                </div>
                <div class="input_group">
                    <label for="">Max KMs </label>
                    <input type="text" placeholder="Type the Max KMs">
                </div>