<div class="screen_slider">

    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="screen-slider-info">
                    <p class="headdicr">Search For </p>

                    <h2 class="bodydicr">
                        Any Wagon You Want
                    </h2>
                    <p class="bottomdicr">
                        Reach millions of buyers.Sell your cars, trucks,Reach millions of buyers.Sell your cars, trucks,Reach millions of buyers.Sell your cars, trucks,
                    </p>
                    <div class="button_gruop_slider">
                        <button class="btnSlider">
                                Buy
                            </button>
                        <button class="btnSlider sell">
                                sell
                            </button>
                    </div>
                </div>
                <img src="./assets/Site_Images/screen_slider/busSliderIcon.svg" title="bus" />

            </div>
            <div class="swiper-slide">
                <div class="screen-slider-info">
                    <p class="headdicr">Search For </p>

                    <h2 class="bodydicr">
                        Any Wagon You Want
                    </h2>
                    <p class="bottomdicr">
                        Reach millions of buyers.Sell your cars, trucks,Reach millions of buyers.Sell your cars, trucks,Reach millions of buyers.Sell your cars, trucks,
                    </p>
                    <div class="button_gruop_slider">
                        <button class="btnSlider">
                                Buy
                            </button>
                        <button class="btnSlider sell">
                                sell
                            </button>
                    </div>
                </div>
                <img src="./assets/Site_Images/screen_slider/truckSliderIcon.svg" title="truck" />

            </div>
            <div class="swiper-slide">
                <div class="screen-slider-info">
                    <p class="headdicr">Search For </p>

                    <h2 class="bodydicr">
                        Any Wagon You Want
                    </h2>
                    <p class="bottomdicr">
                        Reach millions of buyers.Sell your cars, trucks,Reach millions of buyers.Sell your cars, trucks,Reach millions of buyers.Sell your cars, trucks,
                    </p>
                    <div class="button_gruop_slider">
                        <button class="btnSlider">
                                Buy
                            </button>
                        <button class="btnSlider sell">
                                sell
                            </button>
                    </div>
                </div>
                <img src="./assets/Site_Images/screen_slider/motorSliderIcon.svg" title="motor" />

            </div>
            <div class="swiper-slide">
                <div class="screen-slider-info">
                    <p class="headdicr">Search For </p>

                    <h2 class="bodydicr">
                        Any Wagon You Want
                    </h2>
                    <p class="bottomdicr">
                        Reach millions of buyers.Sell your cars, trucks,Reach millions of buyers.Sell your cars, trucks,Reach millions of buyers.Sell your cars, trucks,
                    </p>
                    <div class="button_gruop_slider">
                        <button class="btnSlider">
                                Buy
                            </button>
                        <button class="btnSlider sell">
                                sell
                            </button>
                    </div>
                </div>
                <img src="./assets/Site_Images/screen_slider/farmSliderIcon.svg" title="farm" />


            </div>
            <div class="swiper-slide">
                <div class="screen-slider-info">
                    <p class="headdicr">Search For </p>

                    <h2 class="bodydicr">
                        Any Wagon You Want
                    </h2>
                    <p class="bottomdicr">
                        Reach millions of buyers.Sell your cars, trucks,Reach millions of buyers.Sell your cars, trucks,Reach millions of buyers.Sell your cars, trucks,
                    </p>
                    <div class="button_gruop_slider">
                        <button class="btnSlider">
                                Buy
                            </button>
                        <button class="btnSlider sell">
                                sell
                            </button>
                    </div>
                </div>
                <img src="./assets/Site_Images/screen_slider/carSliderIcon.svg" title="car" />

            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>