<div class="tapsSlider">
    <div class="swiper taps_swiper_container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="conatiner_tapsBox">
                    <p>Car</p>
                    <img class="imgProduct" src="./assets/Site_Images/taps_slider/car.svg" alt="Image">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="conatiner_tapsBox">
                    <p>Motor</p>
                    <img class="imgProduct" src="./assets/Site_Images/taps_slider/motor.svg" alt="Image">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="conatiner_tapsBox">
                    <p>Truck</p>
                    <img class="imgProduct" src="./assets/Site_Images/taps_slider/truck.svg" alt="Image">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="conatiner_tapsBox">
                    <p>Bus</p>
                    <img class="imgProduct" src="./assets/Site_Images/taps_slider/bus.svg" alt="Image">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="conatiner_tapsBox">
                    <p>Farm</p>
                    <img class="imgProduct" src="./assets/Site_Images/taps_slider/farm.svg" alt="Image">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="conatiner_tapsBox">
                    <p>Car</p>
                    <img class="imgProduct" src="./assets/Site_Images/taps_slider/car.svg" alt="Image">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="conatiner_tapsBox">
                    <p>Car</p>
                    <img class="imgProduct" src="./assets/Site_Images/taps_slider/car.svg" alt="Image">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="conatiner_tapsBox">
                    <p>Car</p>
                    <img class="imgProduct" src="./assets/Site_Images/taps_slider/car.svg" alt="Image">
                </div>
            </div>
        </div>
        <div class="swiper-button-next">
            <img src="./assets/Site_Images/taps_slider/arrow_slider_right.svg">
        </div>
        <div class="swiper-button-prev">
            <img src="./assets/Site_Images/taps_slider/arrow_slider_left.svg">
        </div>
    </div>
</div>