
<div class="header">
    <div class="containerHeader">
        <div class="logo">
            <img src="./assets/Site_Images/logo.svg" alt="">
        </div>
        <div class="menu btn1" data-menu="1">
            <div class="icon-left"></div>
            <div class="icon-right"></div>
        </div>
        <div class="main-nav-container ">
            <ul class="main-nav">
                <li class="menu_item"><a class="menu_item_link" href="/wagon-ux/desktop/home_EN.html">Home</a></li>
                <li class="menu_item"><a class="menu_item_link" href="/wagon-ux/desktop/Module/About/about.html">About</a></li>
                <li class="menu_item"><a class="menu_item_link" href="/wagon-ux/desktop/Module/compare/empty_compare.html">Compare</a></li>
                <li class="menu_item"><a class="menu_item_link" href="/wagon-ux/desktop/Module/favorite/empty_favorite.html">Favorite </a></li>
                <li class="menu_item"><a class="menu_item_link" href="/wagon-ux/desktop/Module/Agencies/Agencies.html">Agency</a></li>
                <li class="menu_item"><a class="menu_item_link" href="/wagon-ux/desktop/Module/Dealers/dealers.html">Dealers</a></li>
                <li class="menu_item loginMenu"><a class="menu_item_link" href="/wagon-ux/desktop/Module/login_register/login.html">LOG IN</a></li>
            </ul>
        </div>
    </div>
</div>